{% extends 'template.html.twig' %}

{% block body %}
    <h4 class="ui dividing header">
        {{ empresa.nome }} - CNPJ {{ empresa.cnpj(true) }}
    </h4>

    {% set errors = app.session.flashbag.get('error') %}
    {% if errors|length > 0 %}
        <div class="ui error message">
            <ul>
                {% for flashMessage in errors %}
                    <li>{{ flashMessage }}</li>
                    {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form class="ui form" method="post">
        <div class="field">
            <label for="rfbbundle_empresa_nome">Nome</label>
            <input id="rfbbundle_empresa_nome"
                   name="nome" type="text" required="required"
                   title="Nome" placeholder="Nome"
                   value="{{empresa.nome}}">
        </div>
        <div class="field">
            <label for="rfbbundle_empresa_cnpj">CNPJ (somente números)</label>
            <input id="rfbbundle_empresa_cnpj"
                   name="cnpj" type="text" pattern="\d{14}" required="required"
                   title="CNPJ (Somente números)" placeholder="CNPJ (Somente números)"
                   value="{{empresa.cnpj}}">
        </div>

        <a class="ui button" href="{{ path('empresa_show', {'id':empresa.id}) }}">
            <i class="cancel icon"></i>
            Cancelar
        </a>
        <a class="ui red button" onclick="excluiEmpresa();">
            <i class="trash icon"></i>
            Excluir
        </a>
        <button class="ui green button" type="submit">
            <i class="checkmark icon"></i>
            Salvar
        </button>
    </form>

    {{ include ('modal/modal_exclui_empresa.html.twig') }}

{% endblock %}
