{% extends 'template.html.twig' %}

{% block body %}
    <h4 class="ui dividing header">
        Criar uma nova empresa
    </h4>

    {% set errors = app.session.flashbag.get('error') %}
    {% if errors|length > 0 %}
        <div class="ui error message">
            <ul>
                {% for flashMessage in errors %}
                    <li>{{ flashMessage }}</li>
                    {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form class="ui form" method="post">
        <div class="field">
            <label for="rfbbundle_empresa_nome">Nome</label>
            <input id="rfbbundle_empresa_nome"
                   name="nome" type="text" required="required"
                   title="Nome" placeholder="Nome">
        </div>
        <div class="field">
            <label for="rfbbundle_empresa_cnpj">CNPJ (somente números)</label>
            <input id="rfbbundle_empresa_cnpj"
                   name="cnpj" type="text" pattern="\d{14}" required="required"
                   title="CNPJ (Somente números)" placeholder="CNPJ (Somente números)">
        </div>

        <a class="ui button" href="{{ path('empresa_index') }}">
            <i class="cancel icon"></i>
            Cancelar
        </a>
        <button class="ui button green" type="submit">
            <i class="checkmark icon"></i>
            Salvar
        </button>
    </form>
{% endblock %}
