{% extends 'template.html.twig' %}

{% block body %}
    <h4 class="ui dividing header">
        {{ empresa.nome }} - CNPJ {{ empresa.cnpj(true) }}
    </h4>

    <div class="ui compact menu">
        <a class="item" href="{{ path('empresa_index') }}">
            <i class="backward icon"></i>
            Retornar
        </a>
        <a class="item" onclick="$('#acrescenta-socio').modal('show');">
            <i class="user icon"></i>
            Adicionar Sócio
        </a>
        <a class="item" href="{{ path('empresa_edit', { 'id': empresa.id }) }}">
            <i class="edit icon"></i>
            Editar
        </a>
        <a class="item" onclick="excluiEmpresa();">
            <i class="trash icon"></i>
            Excluir
        </a>

        <div class="ui right aligned search item search-menu">
            <div class="ui transparent icon input">
                <input class="prompt" type="text" title="CPF: Somente dígitos"
                       autocomplete="off" placeholder="Pesquisar por CPF">
                <i class="search icon"></i>
            </div>
        </div>
    </div>

    {% if empresa.socios is empty %}
        <div class="ui message">
            Esta empresa não tem sócios registrados!
        </div>
    {% else %}
        <table class="ui table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>E-mail</th>
                    <th>Ações</th>
                </tr>
            </thead>
            {% for s in empresa.socios %}
                <tr>
                    <td>{{ s.nome }}</td>
                    <td>{{ s.cpf(true) }}</td>
                    <td><a href="mailto:{{ s.email }}">{{ s.email }}</a></td>
                    <td>
                        <a href="{{ path('socio_show', { 'id': s.id }) }}">Ver</a> |
                        <a href="{{ path('socio_edit', { 'id': s.id }) }}">Editar</a> |
                        <a class="link" onclick="removeSocioModal('{{ s.nome }}',{{s.id}} );">Remover</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {{ include ('modal/modal_exclui_empresa.html.twig') }}
    {{ include ('modal/modal_remove_socio.html.twig') }}

    <form id="acrescenta-socio" class="ui modal form"
          action="{{path('empresa_novo_socio', {'id':empresa.id})}}" method="POST">
        <div class="content">
            <div class="field">
                <div class="ui fluid multiple search selection dropdown search-add">
                    <input type="hidden" name="socio">
                    <i class="dropdown icon"></i>
                    <div class="default text">CPF</div>
                </div>
            </div>
        </div>
        <div class="actions">
            <a href="{{ path('socio_new') }}" class="ui button">
                <i class="user icon"></i>Novo sócio
            </a>
            <button class="ui button green right aligned" type="submit">Salvar</button>
        </div>
    </form>

    <div class="ui dimmer">
        <div class="ui disabled massive text loader">Removendo...</div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        $('.ui.search.search-menu').search({
            apiSettings: {
                url: '{{ path('socio_search_cpf')}}/{query}/{{empresa.id}}'
            },
            minCharacters: 2
        });
        $('.ui.dropdown.search-add').dropdown({
            apiSettings: {
                url: '{{ path('socio_search_cpf')}}/{query}'
            }
        });
    </script>
{% endblock %}
