{% extends 'template.html.twig' %}

{% block body %}
    <div class="centered">
        <h3 class="ui dividing header">
            Receita Federal
        </h3>

        <a href="{{path('empresa_index')}}" class="ui massive blue button">Entrar</a>
    </div>
{% endblock %}
