<!DOCTYPE html>
<html>
    <head>
        <link rel=icon href="favicon.png" type="image/png">
        <title></title>
        <link href="{{ asset("css/semantic.min.css") }}" type="text/css" rel="stylesheet">
        <link href="{{ asset("css/style.css") }}" type="text/css" rel="stylesheet">
    </head>
    <body>
        <main class="ui container">
            <nav id="menu-global" class="ui secondary pointing menu">
                <div class="item">
                    <img src="{{asset("img/logo.png")}}">
                </div>
                <a href="{{path('empresa_index')}}" class="item">
                    Empresas
                </a>
                <a href="{{path('socio_index')}}" class="item">
                    Sócios
                </a>

                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <div class="right menu">
                        <a href="{{logout_path('default')}}" class="item">
                            Logout
                        </a>
                    </div>
                {%endif%}
            </nav>

            {% block body %} {%endblock%}

        </main>

        <script src="{{ asset("js/jquery-3.1.1.min.js") }}"></script>
        <script src="{{ asset("js/semantic.min.js") }}"></script>

        {% block scripts %} {%endblock%}