<div id="exclui-empresa" class="ui basic modal">
    <div class="ui icon header">
        <i class="trash icon"></i>
        Excluir {{ empresa.nome }}
    </div>
    <div class="content">
        <p>Você tem certeza que deseja excluir a Empresa {{ empresa.nome }}?
            <br>Esta operação não poderá ser desfeita!</p>
    </div>
    <div class="actions">
        <div class="ui green basic cancel inverted button">
            <i class="angle left icon"></i>
            Não
        </div>
        <a href="{{ path('empresa_delete', { 'id': empresa.id })  }}"
           class="ui red ok inverted button">
            <i class="trash icon"></i>
            Sim
        </a>
    </div>
</div>

<script>
    var path_empresa_remove_socio = '{{ path('empresa_remove_socio', {'id': empresa.id}) }}';
</script>
<script src="{{ asset("js/empresa.js") }}"></script>