<div id="remove-socio" class="ui basic modal">
    <div class="ui icon header">
        <i class="trash icon"></i>
        Remover Sócio
    </div>
    <div class="content">
        <p>Você tem certeza que deseja remover o Sócio <span class="socio"></span> desta empresa?
            <br>Esta operação não poderá ser desfeita!</p>
    </div>
    <div class="actions">
        <div class="ui green basic cancel inverted button">
            <i class="angle left icon"></i>
            Não
        </div>
        <div data-socio="-1" class="ui red ok inverted button"
             onclick="confirmaRemoveSocio($(this).data('socio'));">
            <i class="trash icon"></i>
            Sim
        </div>
    </div>
</div>
