<div id="exclui-socio" class="ui basic modal">
    <div class="ui icon header">
        <i class="trash icon"></i>
        Excluir {{ socio.nome }}
    </div>
    <div class="content">
        <p>Você tem certeza que deseja excluir o Sócio {{ socio.nome }}?
            <br>Esta operação não poderá ser desfeita!</p>
    </div>
    <div class="actions">
        <div class="ui green basic cancel inverted button">
            <i class="angle left icon"></i>
            Não
        </div>
        <a href="{{ path('socio_delete', {'id':socio.id}) }}" id="delete-socio" class="ui red ok inverted button">
            <i class="trash icon"></i>
            Sim
        </a>
    </div>
</div>

<script src="{{ asset("js/socio.js") }}"></script>
