{% extends 'template.html.twig' %}

{% block body %}
    <h4 class="ui dividing header">
        Autenticação
    </h4>

    <form class="ui form" method="POST" action="{{path('auth_login')}}">
        {% if error is defined %}
            <div class="ui error message">
                {{ error }}
            </div>
        {% endif %}

        <div class="field">
            <label for="user">Usuário</label>
            <input id="user"
                   name="_username" type="text" required="required"
                   title="Usuário" placeholder="Usuário">
        </div>
        <div class="field">
            <label for="pass">Senha</label>
            <input id="pass"
                   name="_password" type="password"required="required"
                   title="Senha" placeholder="Senha">
        </div>

        <button class="ui green button" type="submit">
            Login
        </button>
    </form>
{% endblock %}
