{% extends 'template.html.twig' %}

{% block body %}
    <h4 class="ui dividing header">
        {{ socio.nome }} - CPF {{ socio.cpf(true) }}
    </h4>

    {% set errors = app.session.flashbag.get('error') %}
    {% if errors|length > 0 %}
        <div class="ui error message">
            <ul>
                {% for flashMessage in errors %}
                    <li>{{ flashMessage }}</li>
                    {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form class="ui form" method="POST">
        <div class="field">
            <label for="rfbbundle_socio_nome">Nome</label>
            <input id="rfbbundle_socio_nome"
                   name="nome" type="text" required="required"
                   title="Nome" placeholder="Nome"
                   value="{{socio.nome}}">
        </div>
        <div class="field">
            <label for="rfbbundle_socio_cpf">CPF (somente números)</label>
            <input id="rfbbundle_socio_cpf"
                   name="cpf" type="text" pattern="\d{11}" required="required"
                   title="CPF (Somente números)" placeholder="CPF (Somente números)"
                   value="{{socio.cpf}}">
        </div>
        <div class="field">
            <label for="rfbbundle_socio_email">E-mail</label>
            <input id="rfbbundle_socio_email"
                   name="email" type="email" required="required"
                   title="E-mail" placeholder="E-mail"
                   value="{{socio.email}}">
        </div>
        <div class="field">
            <label>Empresas</label>
            <div class="ui fluid multiple search selection dropdown">
                <input type="hidden" name="empresa"
                       value="{% for i in socio.empresas %}{{i.id}}{%if not loop.last%},{%endif%}{%endfor%}">
                <i class="dropdown icon"></i>
                <div class="default text">CNPJ</div>
                <div class="menu">
                    {% for i in socio.empresas %}
                        <div class="item" data-value="{{i.id}}">{{i.nome}}</div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <a class="ui button" href="{{ path('socio_show', {'id':socio.id}) }}">
            <i class="cancel icon"></i>
            Cancelar
        </a>
        <a class="ui red button" onclick="excluiSocio();">
            <i class="trash icon"></i>
            Excluir
        </a>
        <button class="ui green button" type="submit">
            <i class="checkmark icon"></i>
            Salvar
        </button>
    </form>

    {{ include ('modal/modal_exclui_socio.html.twig') }}

{% endblock %}

{% block scripts %}
    <script>
        $('.ui.dropdown').dropdown({
            apiSettings: {
                url: '{{ path('empresa_search_cnpj')}}/{query}'
            }
        });
        $('.ui.dropdown')
                .dropdown(
                        'set selected',
                        [{% for i in socio.empresas %}{{ i.id }}{% if not loop.last %},{% endif %}{% endfor %} ]
                        );
    </script>
{% endblock %}