{% extends 'template.html.twig' %}

{% block body %}

    <h4 class="ui dividing header">
        Pessoas Físicas
    </h4>

    <div class="ui compact menu">
        <a class="item" href="{{ path('empresa_new') }}">
            <i class="plus icon"></i>
            Adicionar Empresa
        </a>
        <a class="item" href="{{ path('socio_new') }}">
            <i class="user icon"></i>
            Adicionar Sócio
        </a>

        <div class="ui right aligned search item">
            <div class="ui transparent icon input">
                <input class="prompt" type="text" title="CPF: Somente dígitos"
                       autocomplete="off" placeholder="Pesquisar por CPF">
                <i class="search icon"></i>
            </div>
        </div>
    </div>

    <table class="ui table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>E-mail</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for socio in socios %}
                <tr>
                    <td>{{ socio.nome }}</td>
                    <td>{{ socio.cpf(true) }}</td>
                    <td>{{ socio.email }}</td>
                    <td>
                        <a href="{{ path('socio_show', { 'id': socio.id }) }}">Ver</a> |
                        <a href="{{ path('socio_edit', { 'id': socio.id }) }}">Editar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    <script>
        $('.ui.search').search({
            apiSettings: {
                url: '{{ path('socio_search_cpf') }}/{query}'
            },
            minCharacters: 2
        });
    </script>
{% endblock %}