{% extends 'template.html.twig' %}

{% block body %}
    <h4 class="ui dividing header">
        Novo sócio
    </h4>

    {% set errors = app.session.flashbag.get('error') %}
    {% if errors|length > 0 %}
        <div class="ui error message">
            <ul>
                {% for flashMessage in errors %}
                    <li>{{ flashMessage }}</li>
                    {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form class="ui form" method="POST">
        <div class="field">
            <label for="rfbbundle_socio_nome">Nome</label>
            <input id="rfbbundle_socio_nome"
                   name="nome" type="text" required="required"
                   title="Nome" placeholder="Nome">
        </div>
        <div class="field">
            <label for="rfbbundle_socio_cpf">CPF (somente números)</label>
            <input id="rfbbundle_socio_cpf"
                   name="cpf" type="text" pattern="\d{11}" required="required"
                   title="CPF (Somente números)" placeholder="CPF (Somente números)">
        </div>
        <div class="field">
            <label for="rfbbundle_socio_email">E-mail</label>
            <input id="rfbbundle_socio_email"
                   name="email" type="email" required="required"
                   title="E-mail" placeholder="E-mail">
        </div>
        <div class="field">
            <label>Empresas</label>
            <div class="ui fluid multiple search selection dropdown">
                <input type="hidden" name="empresa">
                <i class="dropdown icon"></i>
                <div class="default text">CNPJ</div>
            </div>
        </div>

        <a class="ui button" href="{{ path('socio_index') }}">
            <i class="cancel icon"></i>
            Cancelar
        </a>
        <button class="ui green button" type="submit">
            <i class="checkmark icon"></i>
            Salvar
        </button>
    </form>
{% endblock %}

{% block scripts %}
    <script>
        $('.ui.dropdown').dropdown({
            apiSettings: {
                url: '{{ path('empresa_search_cnpj')}}/{query}'
            }
        });
    </script>
{% endblock %}