{% extends 'template.html.twig' %}

{% block body %}
    <h1>{{ socio.nome }}</h1>

    <div class="ui compact menu">
        <a class="item" href="{{ path('empresa_index') }}">
            <i class="backward icon"></i>
            Retornar
        </a>
        <a class="item" href="{{ path('socio_edit', { 'id': socio.id }) }}">
            <i class="edit icon"></i>
            Editar
        </a>
        <a class="item" onclick="excluiSocio();">
            <i class="trash icon"></i>
            Excluir
        </a>
    </div>

    <table class="ui table">
        <thead>
            <tr>
                <th>CPF</th>
                <th>E-mail</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ socio.cpf(true) }}</td>
                <td>
                    <a href="mailto:{{ socio.email }}">
                        {{ socio.email }}
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    {% if socio.empresas is empty %}
        <div class="ui message">
            Esta pessoa não é sócio de nenhuma empresa!
        </div>
    {% else %}
        <table class="ui table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>CNPJ</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for e in socio.empresas %}
                    <tr>
                        <td>{{ e.nome }}</td>
                        <td>{{ e.cnpj(true) }}</td>
                        <td>
                            <a href="{{ path('empresa_show', {'id': e.id} )}}">Ver</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {{ include ('modal/modal_exclui_socio.html.twig') }}

{% endblock %}
